extends ./base.jade
block content
		div#invoicehis.mdl-card.mdl-shadow--2dp
			div.mdl-card__title
				div.mdl-card__title-text Booking No. #{booking.bookingid}
		p
		table#book.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			tbody
				tr(onclick="window.document.location='/car/#{booking.regno}'")
					td#tab
						div.mdl-card
							div.mdl-card__title
								div.mdl-card__title-text.h2 Car
							div.mdl-card__supporting
								div.mdl-card__supporting-text #{booking.car}
					td#tab 
						div.mdl-card
							div.mdl-card__title
								div.mdl-card__title-text.h2 Rego
							div.mdl-card__supporting
								div.mdl-card__supporting-text #{booking.regno}
				tr
					td#tab(onclick="window.document.location='/carbay/#{booking.bayid}'")
						div.mdl-card
							div.mdl-card__title
								div.mdl-card__title-text.h2 Bay
							div.mdl-card__supporting
								div.mdl-card__supporting-text #{booking.bay}
					td#tab 
						div.mdl-card
							div.mdl-card__title
								div.mdl-card__title-text.h2 Start
							div.mdl-card__supporting
								div.mdl-card__supporting-text #{booking.startDayInMonth} #{booking.startMonth} #{booking.startYear} #{booking.startTime}
						
				tr
					td#tab
						div.mdl-card
							div.mdl-card__title
								div.mdl-card__title-text.h2 Length
							div.mdl-card__supporting
								div.mdl-card__supporting-text #{booking.length} Hours
					td#tab 
						div.mdl-card
							div.mdl-card__title
								div.mdl-card__title-text.h2 When
							div.mdl-card__supporting
								div.mdl-card__supporting-text #{booking.whenBookedDay} #{booking.whenBookedMonth} #{booking.whenBookedYear} #{booking.whenBookedTime}
		p
					//- 
					//- td#tab Length
					//- td#tab When
					//- 
					//- 
					//- th#tab #{booking.car}
					//- th#tab #{booking.regno}
					//- th#tab #{booking.bay}
					//- th#tab #{booking.start}
					//- th#tab #{booking.length}
					//- th#tab #{booking.whenbooked}
