extends ./base.jade
block content
	h2 Welcome #{member.nametitle} #{member.namegiven} #{member.namefamily}
	p Your current membership plan is: #{member.subscribed}
	p You've made a total of #{member.stat_nrofbookings} bookings!
	//- ul
	table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
		thead
			tr
				th#idbooking.mdl-data-table__cell--non-numeric Id
				th#carbooking Car
				th#regnobooking Regno
				th#datebooking Date
				th#lengthbooking Length
		tbody
			each entry in history	
				tr(onclick="window.document.location='/booking/#{entry.id}'")
					td#idbooking #{entry.id}
					td#carbooking #{entry.car}
					td#regnobooking #{entry.regno}
					td#datebooking #{entry.date}
					td#lengthbooking #{entry.length}
//- a(href='/booking/#{entry.id}')
//- 	li= entry.id + ' ' + entry.car + ' ' + entry.regno + ' ' + entry.date + ' ' + entry.length
