extends ./base.jade
block content
		<table class="mdl-data-table mdl-js-data-table">
		<thead>
		<tr>
		<th class="mdl-data-table__cell--non-numeric">Car</th>
		<th>Rego</th>
		<th>Bay</th>
		<th>Start</th>
		<th>Length</th>
		<th>When</th>
		</tr>
		</thead>
		<tbody>
		<tr>
		<th>#{booking.car}</th>
		<th>#{booking.regno}</th>
		<th>#{booking.bay}</th>
		<th>#{booking.start}</th>
		<th>#{booking.length}</th>
		<th#{booking.whenbooked}th>
		</tr>
		//- <tr>
		//- <td class="mdl-data-table__cell--non-numeric">Paul McCartney</td>
		//- <td class="mdl-data-table__cell--non-numeric">The cute one</td>
		//- <td>73</td>
		//- <td class="mdl-data-table__cell--non-numeric">Yes</td>
		//- </tr>
		//- <tr>
		//- <td class="mdl-data-table__cell--non-numeric">George Harrison</td>
		//- <td class="mdl-data-table__cell--non-numeric">The shy one</td>
		//- <td>58</td>
		//- <td class="mdl-data-table__cell--non-numeric">No</td>
		//- </tr>
		//- <tr>
		//- <td class="mdl-data-table__cell--non-numeric">Ringo Starr</td>
		//- <td class="mdl-data-table__cell--non-numeric">The funny one</td>
		//- <td>74</td>
		//- <td class="mdl-data-table__cell--non-numeric">Yes</td>
		//- </tr>
		</tbody>
		</table>
