extends ./base.jade
block content
	form(method='get', action='/carbays')
		div#baysearch
			div#locsearch.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input#search_string.mdl-textfield__input(name='location_search')
				label.mdl-textfield__label(for='location_search') Location
			div#namesearch.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				input#search_string.mdl-textfield__input(name='bay_name')
				label.mdl-textfield__label(for='bay_name') Carbay Name
			div#submitsearch.mdl-card-actions.mdl-card--border
				input.mdl-button.mdl-js-button.mdl-button-primary.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit')
	div.mdl-cell.mdl-cell--12-col
		div.mdl-card.mdl-color--white.mdl-shadow--2dp
			if (results)
				div.mdl-card__title
					div.mdl-card__title-text Results
				div.mdl-card__supporting-text
					if (location)
						p Location: #{location}
					if (name)
						p Bay name: #{name}
					if (!location && !name)
						p No search.
				table#results.mdl-data-table.mdl-js-data-table
					tbody
						each result in results
							tr
								td
									a(href='/carbay/#{result.bayid}') #{result.name}
								td 
									a(href='/location/#{result.located_at}') Nearby bays
						else
							p No results
