extends ./base.jade
block content
	div.mdl-card
		div.mdl-card__title
			h2.mdl-card__title-text #{carBay.name}
		div#mediafillernew.mdl-card__media 
		div#bookinginfo.mdl-card__supporting-text
			p #{carBay.description}
			if (carBay.mapurl != '')
				p This car bay is found 
					a(href='#{carBay.mapurl}', target="_blank") here

		div.mdl-card__title
			h2.mdl-card__title-text Cars at this location
		div.mdl-card__supporting-text
			table#results.mdl-data-table.mdl-js-data-table
				thead
					th Name
					th Make & Model
					th Transmission
				tbody
					each car in carBay.cars
						tr(onclick="window.document.location='/car/#{car.regno}'")
							td #{car.name}
							td #{car.make} #{car.model}
							td #{car.transmission}
	p
