extends ./base.jade
block content
	div.mdl-card.mdl-shadow--2dp
		div.mdl-card__title
			h2
				span.mdl-card__title-text #{car.name} - #{car.regno}
				span.mdl-card__subtitle-text #{car.year} #{car.make} #{car.model}
		div#mediafillernew.mdl-card__media 
		div.mdl-card__supporting-text
			p Transmission: #{car.transmission}
			p Parked in 
				a(href='/carbay/#{car.parkedat}') #{car.locatedat_name}

		div.mdl-card__supporting-text.availabilities
			each av in availabilities
				div.availability-container
					label #{av.time}:00 - #{av.time+1}:00
					if (av.isAvailable)
						div.availability-block.available 
					else
						div.availability-block.not-available 	