extends ./base.jade
block content
	div.mdl-card.mdl-shadow--2dp
		div.mdl-card__title
			h2.mdl-card__title-text #{car.name} - #{car.regno}
			h2.mdl-catd__title-text #{car.year} #{car.make} #{car.model}