extends ./base.jade
block content
	div.mdl-grid
		div.mdl-cell.mdl-cell--6-col 
			h2 Taking up 6 columns
		div.mdl-cell.mdl-cell--4-col
			p Taking up 4 columns.
//
	h2 Welcome #{member.nametitle} #{member.namegiven} #{member.namefamily}
	p Your current membership plan is: #{member.subscribed}
	p You've made a total of #{member.stat_nrofbookings} bookings!