extends ./base.jade
block content
	div.mdl-grid
		div#bookingcard.mdl-cell.mdl-cell--7-col
			div#booking.mdl-card.mdl-color--white.mdl-shadow--2dp
				a(href='/newbooking')
					div#addbutton.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
						<i class="material-icons mdl-color-text--white" role="presentation">add</i>
					div.mdl-tooltop.mdl-tooltip--top(for='addbutton') New Booking
				div.mdl-card__title
					div.mdl-card__title-text Bookings coming up...
				div#date.mdl-card__supporting-text Date:
				div#loc.mdl-card__supporting-text Location:
				div#bookingmain.mdl-card__supporting-text Car:
				div.mdl-card__title
					div.mdl-card__title-text Last Booking was...
				div.mdl-card__supporting-text Date: 
				div.mdl-card__supporting-text Location:
				div.mdl-card__supporting-text Car:
		div.mdl-cell.mdl-cell--5-col
			div#Welcome.mdl-card.mdl-color--white.mdl-shadow--2dp
				div.mdl-card__title
					div.mdl-card__title-text Welcome #{member.nametitle} #{member.namegiven} #{member.namefamily}
				div.mdl-card__supporting-text Home bay: #{member.homebayname}
				div.mdl-card__supporting-text Membership Plan: #{member.subscribed}
				div.mdl-card__supporting-text Member Since: #{member.since}
				div.mdl-card__supporting-text # of Bookings: #{member.stat_nrofbookings}
				div.mdl-card__supporting-text Current Balance:
		div.mdl-cell.mdl-cell--4-col
			div#filler.mdl-card.mdl-color--white.mdl-shadow--2dp
		div.mdl-cell.mdl-cell--8-col
			div#filler.mdl-card.mdl-color--white.mdl-shadow--2dp
				div#mediafiller.mdl-card__media.mdl-color--white
					
				div.mdl-card__supporting-text.meta.mdl-color-text--grey-600 New CarBay!
