extends ./base.jade
block content
	if (latestInvoice)
		div#invoice.mdl-card
			div.mdl-card__title
				div.mdl-card__title-text Invoices - #{latestInvoice.invoicedate}
			div.mdl-card__supporting
				div.mdl-card__supporting-text This month's invoice is available!
				
				
		table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			thead
				tr
					th#idbooking.mdl-data-table__cell--non-numeric Invoice ID
					th#carbooking Invoice Date
					th#regnobooking Monthly Fee
					th#datebooking Total Amount
			tbody
				//- each entry in invoices	
				tr
					td#idbooking #{latestInvoice.invoiceno}
					td#carbooking #{latestInvoice.invoicedate}
					td#regnobooking $ #{latestInvoice.monthlyfee}
					td#datebooking $ #{latestInvoice.totalamount}
				
		p
		div#invoicehis.mdl-card
			div.mdl-card__title
				div.mdl-card__title-text My Full Invoice History 
			
		table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			thead
				tr
					th#idbooking.mdl-data-table__cell--non-numeric Invoice ID
					th#carbooking Invoice Date
					th#regnobooking Monthly Fee
					th#datebooking Total Amount
			tbody
				each invoice in invoices	
					tr
						td#idbooking #{invoice.invoiceno}
						td#carbooking #{invoice.invoicedate}
						td#regnobooking $ #{invoice.monthlyfee}
						td#datebooking $ #{invoice.totalamount}
	else
		div.mdl-card
			div.mdl-card__title
				div.mdl-card__title-text Invoices
			div.mdl-card__supporting
				div.mdl-card__supporting-text You have no invoice history!
