extends ./base.jade
block content
	div.mdl-card
		div.mdl-card__title
			div.mdl-card__title-text Invoices - #{latestInvoice.date}
		div.mdl-card__supporting
			div.mdl-card__supporting-text This month's invoice is available!
			
	table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
		thead
			tr
				th#idbooking.mdl-data-table__cell--non-numeric Id
				th#carbooking Car
				th#regnobooking Regno
				th#datebooking Date
				th#lengthbooking Invoice Bill 
		tbody
			each entry in history	
				tr(onclick="window.document.location='/booking/#{entry.id}'")
					td#idbooking #{entry.id}
					td#carbooking #{entry.car}
					td#regnobooking #{entry.regno}
					td#datebooking #{entry.date}
			tr
				td
				td
				td Total:
				td $
				
	div.mdl-card__title
		div.mdl-card__title-text
		
		table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			thead
				tr
					th#idbooking.mdl-data-table__cell--non-numeric Id
					th#carbooking Car
					th#regnobooking Regno
					th#datebooking Date
					th#lengthbooking Length
			tbody
				each entry in history	
					tr(onclick="window.document.location='/booking/#{entry.id}'")
						td#idbooking #{entry.id}
						td#carbooking #{entry.car}
						td#regnobooking #{entry.regno}
						td#datebooking #{entry.date}
						td#lengthbooking #{entry.length} hours
