extends ./base.jade
block content
	div#invoice
		div.mdl-card__title
			div.mdl-card__title-text Invoice #{invoice.month} #{invoice.year}
		div.mdl-card__supporting
			div.mdl-card__supporting-text The following are all the bookings consisted in the Invoice Id Number: #{invoice.invoiceno}.
	if (bookings)
		table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			thead
				tr
					th#tabletab.mdl-data-table__cell--non-numeric Id
					th#tabletab Car
					th#tabletab Start Time
					th#tabletab End Time

			tbody
				each booking in bookings	
					tr(onclick="window.document.location='/booking/#{booking.bookingid}'")
						td#tabletab #{booking.bookingid}
						td#tabletab #{booking.car}
						td#tabletab #{booking.startDayInMonth} #{booking.startMonth} #{booking.startYear} #{booking.startTime}
						td#tabletab #{booking.endDayInMonth} #{booking.endMonth} #{booking.endYear} #{booking.endTime}
	else
		div.mdl-card__supporting-text No Bookings.
	p
