extends ./base.jade
block content
	if (latestInvoice)
		div#invoice.mdl-card.mdl-shadow--2dp
			div.mdl-card__title
				div.mdl-card__title-text Invoices - #{latestInvoice.month} #{latestInvoice.year}
			div.mdl-card__supporting
				div.mdl-card__supporting-text This month's invoice is available!
				
				
		table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			thead
				tr
					th#tabletab.mdl-data-table__cell--non-numeric Invoice ID
					th#tabletab Invoice Date
					th#tabletab Monthly Fee
					th#tabletab Total Amount
			tbody
				//- each entry in invoices	
				tr(onclick="window.document.location='/invoice/#{latestInvoice.invoiceno}'")
					td#tabletab #{latestInvoice.invoiceno}
					td#tabletab #{latestInvoice.month} #{latestInvoice.year}
					td#tabletab $ #{latestInvoice.monthlyfee}
					td#tabletab $ #{latestInvoice.totalamount}
				
		p
		div#invoicehis.mdl-card
			div.mdl-card__title
				div.mdl-card__title-text My Full Invoice History 
			
		table#history.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
			thead
				tr
					th#tabletab.mdl-data-table__cell--non-numeric Invoice ID
					th#tabletab Invoice Date
					th#tabletab Monthly Fee
					th#tabletab Total Amount
			tbody
				each invoice in invoices	
					tr(onclick="window.document.location='/invoice/#{invoice.invoiceno}'")
						td#tabletab #{invoice.invoiceno}
						td#tabletab #{invoice.month} #{invoice.year}
						td#tabletab $ #{invoice.monthlyfee}
						td#tabletab $ #{invoice.totalamount}
	else
		div.mdl-card
			div.mdl-card__title
				div.mdl-card__title-text Invoices
			div.mdl-card__supporting
				div.mdl-card__supporting-text You have no invoice history!
